* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

main {
    section {
        .container {
            display: grid;
            grid-template-columns: repeat(6, 2fr);
            grid-auto-rows: auto;
            gap: 2rem;
            margin: 0 auto;
            padding: 5rem 2rem;
            .container-movie {
                display: flex;
                margin: a auto;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title-movie {
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 1.5rem;
                    color: #333;
                    text-align: center;
                    font-weight: bolder;
                    padding: 2rem auto;
                }
                .img-movie {
                    width: 15rem;
                    object-fit: contain;
                    align-self: center;
                    margin: 0.5rem;
                    border-radius: 30px;
                    box-shadow: 5px 5px 15px 5px #000000;
                }
            }
        }
    }
}

footer {
    .container-footer {
        background-color: #333;
        height: 4rem;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        .btn-footer {
            padding: 0 1rem;
            margin: 0 1rem;
            background-color: white;
            border-radius: 15px;
            font-size: large;
            cursor: pointer;
            transition: .3s ease all;
            &:hover {
                background-color: red;
            }
        }
    }
}